<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="https://kit.fontawesome.com/cff7379dc1.js" crossorigin="anonymous"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse my-nav">
                <a href="/"><i class='fas fa-home icon-header'></i></a>
                <div style="width:50%"></div>

                @if (!User.Identity.IsAuthenticated)
                {
                    <div>
                        <p>@Html.ActionLink("Вход", "LoginForm", "Account", new { area = "" }, new { @class = "link-header" })</p>
                        <p>@Html.ActionLink("Регистрация", "RegisterForm", "Account", new { area = "" }, new { @class = "link-header" })</p>
                    </div>
                }
                else
                {
                    realtyStore.Models.RealtyContext db = new realtyStore.Models.RealtyContext();
                    var user = db.Users.FirstOrDefault(u => u.LogIn == User.Identity.Name);
                    if (user != null && user.RoleId == 2)
                    {
                        <p>@Html.ActionLink("Режим риелтора", "Index", "RealtorMode", new { area = "" }, new { @class = "btn btn-header" })</p>

                    }
            <div class="header-right">
                @if (user != null)
                {
                    <div class="link-header userName"> @user.FirstName @user.LastName</div>
                    <div class="profileMenu">
                        <ul>
                            <li>
                                @Html.ActionLink("Избранное", "FavoriteRealties", "Home")
                            </li>
                            <li>
                                @Html.ActionLink("Мои объявления", "MyFlats", "Home")
                            </li>
                            <li> @Html.ActionLink("Выход", "Logoff", "Account")</li>
                        </ul>
                    </div>
                }
            </div>

                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="wrapper">
            @RenderBody()
        </div>
        <footer class="footer">
            <hr />
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
