
@foreach (var r in ViewBag.Realties)
{
    <div class="realtyItem">
        <div class="realtyItem__img">
            <a href="Home/Flat/@r.Id"><img src=@r.ImgUrl alt="photo" /></a>
        </div>

        <div>
            <a href="Home/Flat/@r.Id"><p class="realtyItem__title">@r.Status @r.Type</p></a>
            <p class="realtyItem__desc_mini">
                @if (r.NumberRoom != null)
                {<span>@r.NumberRoom -комн. </span>}
                @r.Type, r.Square кв.м.,
                @if (@r.Floor > 0)
                {<span> @r.Floor /</span>} @r.Floors эт.
            </p>

            <p class="realtyItem__price"> @r.Price руб.</p>
        </div>
    </div>
}
