<div id="for-sale" style="display: @(ViewBag.status == realtyStore.Models.Statuses.SALE ? "block" : "none");">
    <form method="post" class="form">
        <div class="group-input">

            <select class="form-select input-box" aria-label="default select example" name="CityId">
                @foreach (var c in ViewBag.Cities)
                {
                    <option value=@c.Id>@c.Name</option>
                }
            </select>
            <select class="form-select input-box" id="realty-type-sale" aria-label="Default select example" name="RealtyType">
                <option value=@realtyStore.Models.Types.APARTMENT>@realtyStore.Models.Types.APARTMENT</option>
                <option value=@realtyStore.Models.Types.ROOM>@realtyStore.Models.Types.ROOM</option>
                <option value=@realtyStore.Models.Types.HOUSE>@realtyStore.Models.Types.HOUSE</option>
                <option value=@realtyStore.Models.Types.GARAGE>@realtyStore.Models.Types.GARAGE</option>
                <option value=@realtyStore.Models.Types.WAREHOUSE>@realtyStore.Models.Types.WAREHOUSE</option>
                <option value=@realtyStore.Models.Types.LAND_PLOT>@realtyStore.Models.Types.LAND_PLOT</option>
                <option value=@realtyStore.Models.Types.BUILDING>@realtyStore.Models.Types.BUILDING</option>
                <option value=@realtyStore.Models.Types.TRADING_AREA>@realtyStore.Models.Types.TRADING_AREA</option>
                <option value=@realtyStore.Models.Types.PRODUCTION>@realtyStore.Models.Types.PRODUCTION</option>
                <option value=@realtyStore.Models.Types.OFFICE>@realtyStore.Models.Types.OFFICE</option>
            </select>

            <div class="input-box">
                <label class="form-label" for="MinPrice"> Цена </label>
                <div style="display: flex">
                    <input class="form-control" id="MinPrice" placeholder="от" min=0 name="MinPrice" type="number" />
                    <input class="form-control" id="MaxPrice" placeholder="до" min=0 name="MaxPrice" type="number" />
                </div>
            </div>
            <div class="input-box" id="square-sale" style="display:none">
                <label class="form-label" for="MinSquare"> Площадь </label>
                <div style="display: flex">
                    <input class="form-control" id="MinSquare" placeholder="от" min=0 name="MinSquare" type="number" />
                    <input class="form-control" id="MaxSquare" placeholder="до" min=0 name="MaxSquare" type="number" />
                </div>
            </div>
            <div id="numRooms-sale" class="m-10">
                <label class="form-label" for="numRooms-sale-checkboxes">Количество комнат</label>
                <div class="checkBox-group" id="numRooms-sale-checkboxes">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault" name="NumberRooms[]" checked>
                        <label class="form-check-label" for="flexCheckDefault">
                            1
                        </label>

                        <input class="form-check-input" type="checkbox" value="2" id="flexCheckChecked" name="NumberRooms[]" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            2
                        </label>

                        <input class="form-check-input" type="checkbox" value="3" id="flexCheckDefault" name="NumberRooms[]" checked>
                        <label class="form-check-label" for="flexCheckDefault">
                            3
                        </label>

                        <input class="form-check-input" type="checkbox" value="4" id="flexCheckChecked" name="NumberRooms[]" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            4
                        </label>

                        <input class="form-check-input" type="checkbox" value="5" id="flexCheckChecked" name="NumberRooms[]" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            5+
                        </label>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary group-input input-box" id="search" name="status" type="submit" value="@realtyStore.Models.Statuses.SALE">Поиск</button>
        </div>

    </form>
    <div class="results">
        @if (ViewBag.ShowResult && ViewBag.status == realtyStore.Models.Statuses.SALE)
        {
            if (ViewBag.Realties != null && ViewBag.Count != 0)
            {
                Html.RenderPartial("_RealtyItemsList");
            }
            if (ViewBag.TextResult != null)
            {
                <h3 class="text-result"> @ViewBag.TextResult</h3>
            }
        }
    </div>
</div>

<script src="@Url.Content("~/Scripts/formSale.js")" type="text/javascript"></script>