@model realtyStore.Models.Realty
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Type;
}


<div class="realtyItem">
    
    <div class="realtyItem_left">
        
        <img src=@Model.ImgUrl alt="photo" />
        <p class="realtyItem__title">
            @Model.Status

            @if (Model.NumberRoom != null)
            {<span>@Model.NumberRoom -комн. </span>}
            @Model.Type, @Model.Square кв.м., г. @ViewBag.City 
            @if (@Model.Floor > 0)
            {<span> @Model.Floor /</span>} @Model.Floors эт.

        </p>

        <p class="realtyItem__desc">@Model.Description</p>

    </div>
    <div class="realtyItem_right">
        <p class="realtyItem__price">@Model.Price </p>
        <button id="showPhone">Показать телефон</button>
        <p id="Phone" style="display:none">@ViewBag.Phone - @ViewBag.Name</p>
    </div>
</div>

<script src="@Url.Content("~/Scripts/Flat.js")" type="text/javascript"></script>