@{
    ViewBag.Title = "Новое объявление";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Новое объявление</h3>

<form method="post">

    <div class="select-group m-10 bcg-white">
        <select class="select-form input-box" id="status-type" aria-label="Default select example" name="Status">
            <option value=@realtyStore.Models.Statuses.FOR_RENT_DAILY>Сдать посуточно</option>
            <option value=@realtyStore.Models.Statuses.RENT_OUT>Сдать</option>
            <option value=@realtyStore.Models.Statuses.SALE>Продать</option>
        </select>
        <select class="select-form input-box" id="realty-type-daily" aria-label="Default select example" name="Type">
            <option value=@realtyStore.Models.Types.APARTMENT>@realtyStore.Models.Types.APARTMENT</option>
            <option value=@realtyStore.Models.Types.ROOM>@realtyStore.Models.Types.ROOM</option>
            <option value=@realtyStore.Models.Types.BED>@realtyStore.Models.Types.BED </option>
            <option value=@realtyStore.Models.Types.HOUSE>@realtyStore.Models.Types.HOUSE</option>
        </select>
        <select class="select-form input-box" id="realty-type-rent" aria-label="Default select example" name="Type" style="display:none">
            <option value=@realtyStore.Models.Types.APARTMENT>@realtyStore.Models.Types.APARTMENT</option>
            <option value=@realtyStore.Models.Types.ROOM>@realtyStore.Models.Types.ROOM</option>
            <option value=@realtyStore.Models.Types.BED>@realtyStore.Models.Types.BED </option>
            <option value=@realtyStore.Models.Types.HOUSE>@realtyStore.Models.Types.HOUSE</option>
            <option value=@realtyStore.Models.Types.GARAGE>@realtyStore.Models.Types.GARAGE</option>
            <option value=@realtyStore.Models.Types.WAREHOUSE>@realtyStore.Models.Types.WAREHOUSE</option>
            <option value=@realtyStore.Models.Types.LAND_PLOT>@realtyStore.Models.Types.LAND_PLOT</option>
            <option value=@realtyStore.Models.Types.BUILDING>@realtyStore.Models.Types.BUILDING</option>
            <option value=@realtyStore.Models.Types.TRADING_AREA>@realtyStore.Models.Types.TRADING_AREA</option>
            <option value=@realtyStore.Models.Types.PRODUCTION>@realtyStore.Models.Types.PRODUCTION</option>
            <option value=@realtyStore.Models.Types.OFFICE>@realtyStore.Models.Types.OFFICE</option>
        </select>
        <select class="select-form input-box" id="realty-type-sale" aria-label="Default select example" name="Type" style="display: none">
            <option value=@realtyStore.Models.Types.APARTMENT>@realtyStore.Models.Types.APARTMENT</option>
            <option value=@realtyStore.Models.Types.ROOM>@realtyStore.Models.Types.ROOM</option>
            <option value=@realtyStore.Models.Types.HOUSE>@realtyStore.Models.Types.HOUSE</option>
            <option value=@realtyStore.Models.Types.GARAGE>@realtyStore.Models.Types.GARAGE</option>
            <option value=@realtyStore.Models.Types.WAREHOUSE>@realtyStore.Models.Types.WAREHOUSE</option>
            <option value=@realtyStore.Models.Types.LAND_PLOT>@realtyStore.Models.Types.LAND_PLOT</option>
            <option value=@realtyStore.Models.Types.BUILDING>@realtyStore.Models.Types.BUILDING</option>
            <option value=@realtyStore.Models.Types.TRADING_AREA>@realtyStore.Models.Types.TRADING_AREA</option>
            <option value=@realtyStore.Models.Types.PRODUCTION>@realtyStore.Models.Types.PRODUCTION</option>
            <option value=@realtyStore.Models.Types.OFFICE>@realtyStore.Models.Types.OFFICE</option>
        </select>
        <select class="select-form  input-box" aria-label="default select example" name="CityId">
            @foreach (var c in ViewBag.Cities)
            {
                <option value=@c.Id>@c.Name</option>
            }
        </select>
    </div>

    <div class="group-input m-10 bcg-white">

        <div class="input-box">
            <label class="form-label" for="Floor"> Этаж </label>
            <input class="form-control" type="text" id="Floor" name="Floor" placeholder="Этаж" />
        </div>

        <div class="input-box">
            <label class="form-label" for="Floors"> Этажей в здании </label>
            <input class="form-control" type="text" name="Floors" placeholder="Этажей в здании" />
        </div>

        <div class="input-box">
            <label class="form-label" for="numRooms"> Количество комнат </label>
            <input class="form-control" type="text" id="numRooms" name="NumberRoom" placeholder="Количество комнат" />
        </div>

        <div class="input-box">
            <label class="form-label" for="Square"> Площадь </label>
            <input class="form-control" type="text" id="Square" name="Square" placeholder="Площадь" />
        </div>

        <div class="input-box">
            <label class="form-label" for="Address"> Адрес </label>
            <input class="form-control" type="text" id="address" name="Address" placeholder="Адрес" required />
        </div>

        <div class="input-box">
            <label class="form-label" for="Price"> Стоимость </label>
            <input class="form-control" type="text" id="Price" name="Price" placeholder="Стоимость" required />
        </div>

        <div class="input-box">
            <label class="form-label" for="Description"> Описание </label>
            <textarea class="form-control" type="text" id="Description" multiple name="Description" placeholder="Описание"></textarea>
        </div>
    </div>


    <div class="input-box m-10">
        <input class="btn btn-primary" type="submit" value="Отправить" />
    </div>

</form>
<script src="@Url.Content("~/Scripts/formNewRealty.js")" type="text/javascript"></script>