<div id="for-sale">
    <form method="post" style="display: none;">

        <select class="form-select" id="realty-type-sale" aria-label="Default select example" name="RealtyType" style="width:100px">
            <option value=@realtyStore.Models.Types.APARTMENT>@realtyStore.Models.Types.APARTMENT</option>
            <option value=@realtyStore.Models.Types.ROOM>@realtyStore.Models.Types.ROOM</option>
            <option value=@realtyStore.Models.Types.HOUSE>@realtyStore.Models.Types.HOUSE</option>
            <option value=@realtyStore.Models.Types.GARAGE>@realtyStore.Models.Types.GARAGE</option>
            <option value=@realtyStore.Models.Types.WAREHOUSE>@realtyStore.Models.Types.WAREHOUSE</option>
            <option value=@realtyStore.Models.Types.LAND_PLOT>@realtyStore.Models.Types.LAND_PLOT</option>
            <option value=@realtyStore.Models.Types.BUILDING>@realtyStore.Models.Types.BUILDING</option>
            <option value=@realtyStore.Models.Types.TRADING_AREA>@realtyStore.Models.Types.TRADING_AREA</option>
            <option value=@realtyStore.Models.Types.PRODUCTION>@realtyStore.Models.Types.PRODUCTION</option>
            <option value=@realtyStore.Models.Types.OFFICE>@realtyStore.Models.Types.OFFICE</option>
        </select>
        <div class="input-group">
            <p>Цена</p>
            <input placeholder="от" name="MinPrice" min=0 type="number" />
            <input placeholder="до" name="MaxPrice" min=0 type="number" />

        </div>
        <div class="input-group" id="square-sale" style="display:none">
            <p>Площадь</p>
            <input placeholder="от" name="MinSquare" min=0 type="number" />
            <input placeholder="до" name="MaxSquare" min=0 type="number" />
        </div>
        <div class="checkBox-group" id="numRooms-sale">
            Количество комнат
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault" name="NumberRooms[]" checked>
                <label class="form-check-label" for="flexCheckDefault">
                    1
                </label>

                <input class="form-check-input" type="checkbox" value="2" id="flexCheckChecked" name="NumberRooms[]" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    2
                </label>

                <input class="form-check-input" type="checkbox" value="3" id="flexCheckDefault" name="NumberRooms[]" checked>
                <label class="form-check-label" for="flexCheckDefault">
                    3
                </label>

                <input class="form-check-input" type="checkbox" value="4" id="flexCheckChecked" name="NumberRooms[]" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    4
                </label>

                <input class="form-check-input" type="checkbox" value="5" id="flexCheckChecked" name="NumberRooms[]" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    5+
                </label>
            </div>
        </div>
        <select class="form-select" aria-label="default select example" name="CityId" style="width:100px">
            @foreach (var c in ViewBag.Cities)
            {
                <option value=@c.Id>@c.Name</option>
            }
        </select>
        <button id="search" name="status" type="submit" value="Продается">Поиск</button>

    </form>
    <div class="results">
        @if (ViewBag.Realties != null)
        {
            Html.RenderPartial("_RealtyItemsList");
        }
    </div>
</div>

<script src="@Url.Content("~/Scripts/formSale.js")" type="text/javascript"></script>